@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 420px) {
    body main .section-app-purple-theme .display-router {
        overflow: hidden;

        & .header-singleplayer {
            max-height: 44px;
            width: 100vw;
            padding: 6px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: hsl(239, 67%, 26%);
            animation: redirect 350ms forwards;
            
            & button {
                border: none;
                background-color: transparent;
                color: hsl(0, 0%, 100%);
                font-size: 20px;
            }

            & div {
                max-height: 31px;
                padding: 4px 10px;
                background: hsl(238, 61%, 35%);
                border-radius: 3px;

                & p {
                    display: flex;
                    align-items: center;
                    color: hsl(0, 0%, 100%);
                    font-family: 'Inter', Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 600;

                    & span {
                        line-height: 0;
                        margin-right: 5px;
                        font-size: 20px;
                        color: #FFC11D;
                    }
                }
            }
        }

        & section.section-singleplayer {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-inline: auto;
            height: 90%;
            max-width: 340px;
            width: 90%;
            overflow: hidden;

            & .section-singleplayer-container {
                & .profile {
                    margin-inline: auto;
                    height: 120px;
                    max-width: 280px;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    & .profile-time {
                        height: max-content;
                        position: relative;

                        &-primary {
                            margin: 5px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            background: hsl(44, 100%, 56%);
                            box-shadow: 0 0 10px hsla(44, 100%, 56%, 0.7);
                            
                            & div {
                                display: grid;
                                place-items: center;
                                background: hsl(0, 0%, 100%);
                                height: 60px;
                                width: 60px;
                                border-radius: 50%;

                                & p {
                                    font-size: 10px;
                                    font-weight: bold;
                                    text-align: center;
                                    color: hsl(44, 100%, 56%);
                                    line-height: 1.5;

                                    & span {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }

                        &-label {
                            position: absolute;
                            top: 90%;
                            left: 50%;
                            max-width: 42px;
                            width: 100%;
                            transform: translate(-50%, -50%);
                            padding: 5px 5px;
                            background: hsl(44, 100%, 56%);
                            border-radius: 8px;
                            box-shadow: 0 0 10px hsla(44, 100%, 56%, 0.7);

                            & p {
                                text-align: center;
                                font-size: 8px;
                                color: hsl(0, 0%, 100%);
                            }
                        }
                    }

                    & .profile-you, & .profile-bot {
                        position: relative;
                        height: max-content;
                        text-align: center;
                        font-size: 12px;
                        font-weight: bolder;
                        color: hsl(0, 0%, 100%);
                        align-self: flex-end;

                        & div {
                            margin: 5px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            
                            & div {
                                display: grid;
                                place-items: center;
                                background: hsl(0, 0%, 100%);
                                height: 60px;
                                width: 60px;
                                border-radius: 50%;
                                line-height: 0;
                            }
                        }

                        & p:last-child {
                            position: absolute;
                            top: 110%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    & .profile-you div {
                        background: hsl(327, 98%, 62%);
                        box-shadow: 0 0 10px hsla(327, 98%, 62%, 0.7);

                        & div {
                            font-size: 40px;
                            color: hsl(327, 98%, 62%);
                        }
                    }

                    & .profile-bot div {
                        background: hsl(189, 90%, 66%);
                        box-shadow: 0 0 10px hsla(189, 90%, 66%, 0.7);
                        
                        & div {
                            font-size: 30px;
                            color: hsl(189, 90%, 66%);
                        }
                    }
                }  
                
                & table.container-board {
                    margin-top: 20px;
                    margin-inline: auto;
                    width: max-content;
                    border-spacing: 7px 4px;

                    & tr.board {
                        display: block;
                        & td div {
                            position: relative;
                            display: grid;
                            place-items: center;
                            height: 65px;
                            width: 65px;
                            border-radius: 3px;
                            box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.25);

                            &.active {
                                background-color: #FFC11D !important;
                                transition: all 350ms ease-in;
                            }

                            &:is(#tile0, #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8) span {                                
                                &#mark-X {
                                    position: absolute;
                                    height: 65px;
                                    width: 65px;

                                    &::before, &::after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        height: 50px;
                                        width: 15px;
                                        background: hsl(327, 98%, 62%);
                                        border-radius: 3px;
                                    }

                                    &::before {
                                        transform: translate(-50%, -50%) rotate(45deg);
                                    }

                                    &::after {
                                        transform: translate(-50%, -50%) rotate(-45deg);
                                    }
                                }

                                &#mark-O {
                                    position: absolute;
                                    height: 65px;
                                    width: 65px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        height: 23px;
                                        width: 23px;
                                        border-radius: 50%;
                                        box-shadow: 0px 0px 0px 13px hsl(189, 90%, 66%), 4px 4px 4px 13px hsla(0, 0%, 0%, 0.5), -4px -4px 4px 13px hsla(0, 0%, 100%, 0.5);
                                        z-index: 1;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        height: 23px;
                                        width: 23px;
                                        border-radius: 50%;
                                        background: linear-gradient(-45deg, transparent 40%, hsla(0, 0%, 0%, 0.5));
                                    }

                                    &::before, &::after {
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }

                            &:is(#tile0, #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8) #mark-X {
                                animation: displayMark 350ms forwards;
                            }

                            &:is(#tile0, #tile1, #tile2, #tile3, #tile4, #tile5, #tile6, #tile7, #tile8) #mark-O {
                                animation: displayMark 350ms forwards;
                            }

                            &:nth-child(even) {
                                background: hsl(237, 79%, 87%);
                            }

                            &:nth-child(odd) {
                                background: hsl(0, 0%, 100%);
                            }
                        }
                    }

                    & .result-score {
                        margin-top: 5px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        place-items: center;

                        & div {
                            padding: 5px 0;
                            width: 65px;
                            border-radius: 3px;
                            box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.25);

                            &.player-score {
                                background: hsl(327, 98%, 62%);
                            }

                            &.ties {
                                background: hsl(44, 100%, 56%);
                            }

                            &.bot-score {
                                background: hsl(189, 90%, 66%);
                            }

                            & p {
                                font-size: 8px;
                                text-align: center;
                                font-weight: bolder;
                                color: hsl(0, 0%, 100%);
                            }
                        }
                    }
                }
            }
        }

        & .section-singleplayer-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            backdrop-filter: blur(3px);
        }
    }
}

@keyframes redirect {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes displayMark {
    0% {
        display: none;
        margin-bottom: 30px;
        transform: scaleY(1);
    }
    50% {
        margin-bottom: -40px;
        transform: scaleY(.4);
    }
    100% {
        display: block;
        transform: scaleY(1);
    }
}